body {
    background-color: #1F252E;
    color: #ffffff;
}


header {
    position: relative;
    box-shadow: 0 4px 17px rgb(255 255 255 / 10%);
    position: sticky;
    padding: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.detail {
    text-align: center;
}


.inline-nav {
    list-style-type: none;
    /* padding: 0; */
    padding-left: 100px;
    margin: 0;

}

.inline-nav li {
    display: inline;
    margin-right: 200px; /* Adjust as needed */
}

.detail {
    margin-top: 80px;
    margin-bottom: 80px;
}


.card-footer {
    text-align: right;
   }


   .futureWork .card {
    border: 5px solid #1F252E;
    border-radius: 10px; 
  

}

.myWorkCurrent .card {
    border: 5px solid #1F252E;
    border-radius: 10px; 

}

.intro {
    margin-right: 20px;
    margin-left: 20px;   
}

.myWorkCurrent {
/* 
    border-bottom: 5px solid #1F252E;
    border-radius: 100px;  */

    margin-bottom: 30px;
}